body {
    font-family: 'Poppins', sans-serif;

}

.first-div {
    text-align: center;
    color: white;
    margin: 0%;
    padding: 20px 30px;
}


h1 {
    font-size: 60px;
    margin: 5% 20%;
}

p {
    margin: 2% 25%;
}

a {
    color: white;
    background-color: tomato;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration-line: none;

}

.first-section {
    background-image: url(images/donation13.jpg);
    background-size: cover;
}

.second-section {
    text-align: center;

}

h3 {
    font-size: 30px;
}

.display-amount {
    display: flex;
    align-items: center;
    margin: 0% 20%;
}

h4 {
    color: gray;
    margin: 20px 20px;
    padding: 20px;
    width: 20%;
    border-radius: 5px;
    background-color: rgba(169, 169, 169, 0.117);
}

.color-tk {
    color: tomato;
    border: 2.5px solid tomato;
    background-color: rgba(255, 99, 71, 0.199);
}

#other-amount {
    color: grey;
}